/*body{
    background-color: rgb(213, 231, 245);
    background-image: linear-gradient(to bottom right, #e0ecf5, #aabdec)
}*/

.petzTopo{
    width: 255px;
    height: 160px;
    
}

.container {
  display: flex; /* Faz os elementos internos ficarem lado a lado */
  align-items: center; /* Alinha verticalmente ao centro (opcional) */
}

.cabecalho{
    text-decoration:underline;
}

header {
    background-color: #f1f1f1;
    width: 100%;
    height: 220px;
    box-sizing: border-box;
}

.meu-input {
    width: 400px; /* Define a largura */
    height: 50px;  /* Define a altura */
    border-radius: 15px;
    font-size: 15px;
    background-color:#f1f1f1

}

.botoesCabecalho{
    font-size: 20px;
    transition: transform 0.2s ease-in-out;
}

.entraCadastra{
    color: rgb(36, 124, 196);
    font-size: 15px;
}

.botoesCabecalho:hover{
    transform: scale(1.1);
}

.cabecalho{
    text-decoration: none;
    color: rgb(108, 107, 107);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

nav {
    /*border: 5px dashed #a1734e;*/
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(223, 223, 223);
}

.cabecalho2{
    text-decoration:underline;
    color: rgb(108, 107, 107);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 12px;
}

.cabecalho:hover{
    color:black
}


.cabecalho2:hover{
    color:cornflowerblue
}

.botão1{
    color: rgb(107, 19, 37);
    width: 80px;
    height: 60px;
}

.botão2{
    color: rgb(41, 107, 193);
}

.botão3{
    color: rgb(54, 168, 73);
}

.botão4{
    color: rgb(219, 194, 70);
}

.texto2botao4{
    color: rgb(25, 63, 150);
}

.botaoCima{
    width: 262px;
    height: 56px;
    border-radius: 20px;
    transition: transform 0.2s ease-in-out;
}

.botaoCima:hover{
    transform: scale(1.1); 
}

.carroselREAL{
    width: 90%;
    height: 180px;
    border-radius: 10px;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(206, 7, 77);
}

.link{
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    font-size: 15px;
}

.link:hover{
    color: black;
}

.botaoBaixo{
    width: 262px;
    height: 56px;
    border-radius: 15px;
    transition: transform 0.2s ease-in-out;
    border: 1px solid #e6e6e6;
}

.botaoBaixo:hover{
    transform: scale(1.1); 
}

.compras{
    width: 200px;
    height: 300px;
    transition: transform 0.2s ease-in-out;
}

.compras:hover{
    transform: scale(1.2); 
}

.linkCabecalho{
    text-decoration: none;
    color: rgb(254, 94, 158);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    font-size: 15px;
    border-radius: 10px;
    padding: 8px 14px;
    transition: 0.3s;
}

.linkCabecalho:hover, .linkCabecalho.ativo{
    color: rgb(206, 7, 77);
    border-radius: 10px;
    background-color: #9ec8e8;
}

.coisaCachorroGato{
    width: 200px;
    height: 200px;
    border-radius: 360px;
    transition: transform 0.2s ease-in-out;
}

.coisaCachorroGato:hover{
    transform: scale(1.2);
}

.fotosGrandes{
    width: 480px;
    height: 280px;
    transition: transform 0.3s ease-in-out;
    border-radius: 20px;
}

.fotosGrandes:hover{
    transform: scale(1.1);
}

footer {
    background-color: #f2c6dd;
    height: 230px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(25, 19, 104);
}

a{
    text-decoration: none;
}

.carrossel {
 overflow: hidden; /* O conteúdo fora do espaço demilitado não aparece */
}

.conteudoCarrossel {
  display: flex;
  width: max-content; /* Garante que a largura se ajuste ao conteúdo duplicado */
  animation: scroll 75s linear infinite; /* Define a animação para rolar */
}

.itemCarrossel {
    flex-shrink: 0; /* Impede que os itens encolham */
    padding: 10px; /* Faz um espaço de 10 px entre as fotos */
}
@keyframes scroll {
  to {
    transform: translateX(-50%); /* Move o conteúdo em 50% de sua largura total para rolar perfeitamente */
  }
}

.ancora{
    width: 70px;
    height: 70px;
    float: right;
    margin: 15px 40px 0 0;
}

a{
    text-decoration: none;
}